<header class="projects-menu" data-aos="fade-down">

    <mat-toolbar color="secondary">

        <div class="projects-menu__wrapper">

            <div class="projects-menu__image" data-aos="fade-right" data-aos-delay="300">
                <picture>
                    <source srcset="/assets/img/perfil.webp" type="image/webp" accept="image/webp">
                    <img class="hero__img" ngSrc="/assets/img/perfil.png" fill alt="Icono menú" routerLink="/"
                        title="Volver a Inicio">
                </picture>
            </div>

            <nav class="projects-menu__nav">
                <ul class="projects-menu__ul">
                    <li class="projects-menu__li" data-aos="fade-left" data-aos-delay="300">
                        <a href="https://www.linkedin.com/in/juan-jos%C3%A9-hidalgo-ya%C3%B1ez-854698b4/"
                            class="projects-menu__a" target="_blank" title="Visitar Linkedin">
                            <i class="fa-brands fa-linkedin-in projects-menu__icon"></i>
                        </a>
                    </li>
                    <li class="projects-menu__li" data-aos="fade-left" data-aos-delay="500">
                        <a href="https://github.com/Juan-Jose-Hidalgo" class="projects-menu__a" target="_blank"
                            title="Visitar GitHub">
                            <i class="fa-brands fa-github-alt projects-menu__icon"></i>
                        </a>
                    </li>
                    <li class="projects-menu__li" data-aos="fade-left" data-aos-delay="700">
                        <a routerLink="/" class="projects-menu__a" title="Volver a Inicio">
                            <i class="fa-solid fa-house projects-menu__icon"></i>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>

    </mat-toolbar>

</header>