@use "mixins" as mix;
@use "variables" as var;

.home-project__image {
    position: relative;
    height: 14.0625rem;
    background-color: rgb(164, 184, 240);
    margin-bottom: 1rem;
}

.home-project__img {
    object-fit: cover;
    object-position:  50% 50%;
}

.home-project__text {
    padding: 1rem;
    text-align: center;
}

.home-project__divider {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid map-get($map: var.$colors-map, $key: "white");
}

.home-project__actions {
    @include mix.flex-box(row, wrap, space-around, center);
    gap: 1rem;
    padding: 1rem;
}

.btn-spin {
    width: 100%;

    @media (min-width:1440px) {
        width: auto;
    }
}