<nav class="rrss">
    <ul class="rrss__ul">
        <li>
            <a href="https://github.com/Juan-Jose-Hidalgo" target="_blank" title="GitHub" class="rrss__a">
                <i class="fa-brands fa-github"></i>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/juan-josé-hidalgo-yañez-854698b4" target="_blank" title="Linkedin"
                class="rrss__a">
                <i class="fa-brands fa-linkedin-in"></i>
            </a>
        </li>
    </ul>
</nav>