<header class="hero">

    <div class="hero__wrapper">

        <!--* Cover image -->
        <div class="hero__cover">
            <picture>
                <source srcset="/assets/img/perfil.webp" type="image/webp" accept="image/webp">
                <img class="hero__img" ngSrc="/assets/img/perfil.png" fill priority alt="Imagen de portada">
            </picture>
        </div>

        <!--* Cover info -->
        <div class="hero__info">
            <span class="hero__span">Hola! Me llamo</span>
            <h2 class="heading-2">Juan Hidalgo</h2>
            <span class="hero__span">Y soy</span>
            <h1 class="heading-1">Desarrollador Web</h1>
            <a href="#" class="btn-grow-spin" title="A proyectos">Proyectos</a>
        </div>
    </div>

</header>