<section class="about">
    <h2 class="heading-2" data-aos="fade-up">Sobre mí</h2>

    <div class="about__wrapper">
        <!--* Text -->
        <div class="about__text">
            <p class="regular-text" data-aos="fade-left" data-aos-delay="300">
                ¿Alguna vez has sentido que tu vida no era la que querías? Eso me pasó a mí hace unos años. Cansado de
                las opciones de empleo que mis escasos estudios me podían ofrecer, decidí cambiarlo todo y seguir mi
                verdadera pasión: la informática.
            </p>
            <p class="regular-text" data-aos="fade-left" data-aos-delay="300">
                Me matriculé en el ciclo medio de <span class="highlighted"> Sistemas Microinformáticos y Redes</span>.
                Allí descubrí dos cosas que me marcaron: Linux y la asignatura aplicaciones web. Linux me abrió las
                puertas a un mundo de
                posibilidades y desde entonces lo uso como mi sistema operativo principal. Aplicaciones web me mostró lo
                divertido y a gusto que me siento con HTML y CSS.
            </p>
            <p class="regular-text" data-aos="fade-left" data-aos-delay="300">
                Ese acercamiento a HTML y CSS me hizo cambiar el chip y supe que quería vivir de ello. Seguí estudiando
                el ciclo superior de <span class="highlighted">Desarrollo de Aplicaciones Web</span>, que acabo de
                finalizar con éxito.
            </p>
            <p class="regular-text" data-aos="fade-left" data-aos-delay="300">
                Actualmente estoy ampliando mis conocimientos y habilidades por mi cuenta, aprendiendo
                Angular, TypeScript, Node.js, SCSS y otras tecnologías que me ayudan a crear aplicaciones web más
                completas y profesionales.
            </p>
            <p class="regular-text" data-aos="fade-left" data-aos-delay="300">
                Me considero un desarrollador web entusiasta y comprometido con mi trabajo. Si te interesa saber más
                sobre mí o trabajar juntos, <a class="highlighted" href="/inicio#contact">ponte en contacto conmigo</a>.
            </p>
        </div>

        <!--* Image -->
        <div class="about__image" data-aos="fade-right">
            <img class="about__img" ngSrc="/assets/img/yo.svg" fill alt="imagen de la sección sobre mi">
        </div>
    </div>

</section>