@use "variables" as color;

.scroll-bar {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)), url("/assets/img/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.home-main{
    background-color: map-get($map: color.$colors-map, $key: "white");
    display: flex;
    flex-direction: column;
    gap: 2rem;
}