@use "variables" as var;
@use "mixins" as mix;

.contact{
    width: 85%;
    margin: 0 auto;
    padding: 1rem;
}

.contact__container {
    width: 100%;
    border-radius: .3125rem;
    background-color: map-get($map: var.$colors-map, $key: "black");
    overflow: hidden;
}

.contact__form {
    width: 100%;
}