@use "mixins" as mix;
@use "variables" as var;

.home-projects {
    @include mix.flex-box(column, nowrap, flex-start, center);
    gap: 2rem;
    padding-top: 2rem;

    @media (min-width:768px) {
        width: 85%;
        max-width: 100rem;
        margin: 0 auto;
    }
}

.home-projects__list {
    @include mix.flex-box(row, wrap, space-between, center);
    gap: .5rem;
    width: 100%;
}

.home-projects__li {
    width: 100%;

    @media(min-width:768px) {
        width: calc(50% - 16px);
    }

    @media(min-width:1330px) {
        width: calc(33.33333% - 16px);
    }
}

.home-project {
    background-color: map-get($map: var.$colors-map, $key: "white2");
    overflow: hidden;

    @media(min-width:768px) {
        border-radius: 5px;
        box-shadow: 0 3px 2px 0 rgb(0 0 0 / 14%), 0 1px 2px 0 rgb(0 0 0 / 12%), 0 3px 2px -1px rgb(0 0 0 / 40%);

        &:hover {
            box-shadow: 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%), 0 3px 5px -1px rgb(0 0 0 / 40%);
            transform: scale(1.01);
        }
    }

}

.home-project--mock {
    display: none;

    @media (min-width:1330px) {
        @include mix.flex-box(column, nowrap, center, center);
        height: 350px;
        background-image: url("https://i.postimg.cc/D0PWhptv/question.jpg");
        background-size: cover;
        background-position: 50% 50%;
    }
}

.home-project__span {
    font-size: 2.2em;
    font-family: map-get($map: var.$fonts-map, $key: "secondary");
    font-weight: bold;
    text-transform: uppercase;
}